:root {
    --clr-White: #ffffff; 
    --clr-black: #000000; 

}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration:none;
    cursor: pointer;
    color: var(--clr-White);
    font-size: 0.8rem;
}
img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-color: var(--clr-black);
}
.side-bar {
  position: fixed;

  top: 0;
  left: 0;
  height: 100vh;
  width: 10%; 
  color: var(var(--clr-White))
}
/*Rotar la palabra =====*/
.side-bar h2 {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    top: 20%;
    left: 50%;
    
    transform-origin: 0 0;
    transform: rotate(-90deg) translateY(-50%);
}
/*Menu Hamburguesa=====*/
.menu-toggle {
    position: absolute;
    top: 25px;
    left: 50%;

    transform: translateX(-50%);

    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
/*Menu Hamburguesa/ visual/línea =====*/
.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: white;
    
}
/*Socials========Rotate======*/
.socials {
    position: absolute;
    transform-origin: 0 0;

    width: 350px;
    left: 50%;
    bottom: 0;

    transform: rotate(-90deg) translateY(-50%);
}
.socials ul {
    display: flex; 
    justify-content: space-evenly;
}
.socials ul:is(:hover, :focus) {
    opacity: .7;
}

/*========= Image Grid ======*/

.image-grid {
    position: relative;

    left: 10%;
    width: 90%;
    height: 100vh;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
}

.overlay {
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(5, 102, 206, 0.112);
   pointer-events: none;
}

.one {
 background-image: url(../assets/image/play5.jpg);
 object-fit: cover;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
.two {
  background-image: url(../assets/image/play1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.three {
  background-image: url(../assets/image/play6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.four {
    background-image: url(../assets/image/play3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.five {
    background-image: url(../assets/image/play7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.six {
    background-image: url(../assets/image/play4.jpg);
    background-position: 0 70%;
    background-size: cover;
    background-repeat: no-repeat;
}